.list__product {
   display: flex;
   padding: 20px;

   .sidebar {
      flex: 0.25;
      padding-right: 15px;
   }
   .content {
      flex: 0.75;

      .pagination {
         .MuiPagination-ul {
            display: flex;
            justify-content: center;
            margin-top: 1em;
         }
      }
   }
}
